.game-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;

  .game-header-level {
    align-items: center;
    background-color: #303030;
    border-radius: 10px;
    color: #6858c3;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    div:first-child {
      color: #6f6f6d;
      font-size: 13px;
    }

    div:nth-child(2) {
      color: white;
      font-size: 19px;
    }
  }

  .button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;

    .icon-wrapper {
      width: 62%;

      svg {
        filter: drop-shadow(0 2px 1px black);
      }
    }

    span {
      color: white;
      font-weight: bold;
      font-size: 15px;
      margin-right: -5px;
    }
  }
}
